
  
  [class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }
  
  /* ---------- GENERAL ---------- */
  
 * {
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0px auto;
  }
  
  body {
    background-color: #bcc5ce;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }
  
  a {
    color: #eee;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
  }
  
  p {
    line-height: 1.5em;
  }
  
  .clearfix {
    *zoom: 1;
  
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
  
    &:after {
      clear: both;
    }
  
  }
  
  .container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* ---------- LOGIN ---------- */
  
  #login form{
    width: 250px;
  }
  #login, .logo{
      display:inline-block;
      width:50%;
  }
  #login{
  border-left:1px solid #000;
    padding: 0px 82px;
    width: 50%;
  }
  .logo{
  margin-left:-70px;
  margin-top: 20px;
  }
  
  #login form span.fa {
    background-color: #000;
    border-radius: 3px 0px 0px 3px;
    color: #fff;
    display: block;
    float: left;
    height: 50px;
    font-size:24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
  
  #login form input {
    height: 50px;
  }
  fieldset{
      padding:0;
      border:0;
      margin: 0;
  }
  #login form input[type="text"], input[type="password"] {
    background-color: #fff;
    border-radius: 0px 3px 3px 0px;
    border-color:#000;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
  }
  
  #login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000000;
    color: #eee;
    font-weight: bold;
    /* margin-bottom: 2em; */
    text-transform: uppercase;
    padding: 0 16px;
    height: 35px;
    width: 250px;
  }
  
  #login form input[type="submit"]:hover {
    background-color: #5aaf57;
  }
  
  #login > p {
    text-align: center;
  }
  
  #login > p span {
    padding-left: 5px;
  }
  .middle {
    display: flex;
    width: 600px;
  }