table.t1 {width:1000px;margin-left:auto; margin-right:auto;text-align:left; } 
table.t1 td { padding: 0.5em 2ex 0.5em 2ex;FONT-SIZE: 15px; font-family: Verdana, Arial, Helvetica, sans-serif;color:#4d4dff;} 
table.t1 th{padding: 10px 10px 5px 20px; font-size: 12pt;color:#ffffff;text-align:left; font-family: Verdana, Arial, Helvetica, sans-serif;background-color: #c0c0c0; }

table.t1 tr.r1 td { background-color: #f1f1f1; } 
table.t1 tr.r0 td { background-color: #ffffff; } 

div#menu { padding: 0; margin-bottom: 10px; font-size: 12pt;color:#000000;text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif;background-color: #f0f000;}


body { margin-top: 0.5em;  text-align: center;}
